
.bg{
    background: linear-gradient(to bottom, rgba(68, 73, 78, 0.63), rgba(62, 63, 90, 0.596)), url('../../imgs/bar.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container{
    background: rgba(204, 198, 198, 0.884);
    padding: 30px;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000;
}

.forgot {
    color: #353131;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
}

.register {
    color: #2e2a2a;
}

.forgot:hover,
.register:hover {
    color: #000;
}