body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg{
  background: linear-gradient(to bottom, rgba(68, 73, 78, 0.63), rgba(62, 63, 90, 0.596)), url('./imgs/bar.jpg') no-repeat;
  width: 100%;
  /* height: 100vh; */ 
  background-size: 100%; 
  position: relative;
}

.vh100{
  height: 100vh;
}
.vh100 .row .col-12 .form-container{
  margin-top: 175px;
}
.form-container{
  background: rgba(204, 198, 198, 0.884);
  padding: 30px;
  margin: 50px 0 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000;
  position: relative;
}
.form-containerDelete{
  background: rgba(241, 148, 138);
  padding: 30px;
  margin: 50px 0 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000;
  position: relative;
}
.modal-title{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 35px!important;
  font-weight: bold!important;
}

.form-product{
  background: rgba(204, 198, 198, 0.884);
  font-family: 'Lato', sans-serif;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000;
  position: relative;
}

.form-product p span {
  color: gray;
  margin-bottom: 0px!important;
}
.description {
  font-size: 25px;
  border-bottom: 1px solid gray;
}

span.littleSpan {
  font-size: 12px;
  margin-bottom: 20px;
  color: #6c757d;
}

span.haveAccount,
span.haveAccount a {
  color: #353131;
  font-size: 14px;
}

.btn-plus{
  float: right;
}

.btn:hover{
  background-color: rgba(172, 106, 20, 0.76);
}

.bg-green-400{
  background-color: rgba(212, 255, 241, 0.76);
}